{% extends 'admin/bars.html.twig' %}

{% if userForm.vars.value %} {% set title = "backend.user.edit_user"|trans  %} {% else %} {% set title = "backend.user.new_user"|trans  %} {% endif%}
{% block title %}{{ title }}{% endblock %}
{% block contenpage %}
    <div class="">
        <div class="page-title">
            <div class="title_left">

            </div>
        </div>

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h5><a href="{{ path('app_admin_users') }}">{{ "backend.user.user_listing"|trans }}</a> >> {{ title}} </h5>
                        <ul class="nav navbar-right panel_toolbox">

                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        {{ form_start(userForm) }}
                        {{ form_widget(userForm) }}
                        <div class="ln_solid"></div>
                        <div class="item form-group">
                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                <a class="btn btn-warning" href="{{ path('app_admin_users') }}">{{ "backend.user.cancel"|trans }}</a>
                                <button type="submit" name="valider" class="btn btn-success">{{ "backend.global.save"|trans }}</button>
                            </div>
                        </div>
                        {{ form_end(userForm) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
