{% extends 'admin/bars.html.twig' %}
{% block title %} {{ title }} {% endblock %}
{% block contenpage %}
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h5>{% block LienPrecedent %}<a href="#"></a> {% endblock%} </h5>
            </div>

        </div>

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>{% block Item %} Categorie {% endblock %}</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            {% block newLinks %}
                            {% endblock %}
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    {% block formContent %}
                    <div class="x_content">
                        {{ form_start(categorieForm) }}
                        {{ form_widget(categorieForm) }}
                        <div class="ln_solid"></div>
                        <div class="item form-group">
                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                <a class="btn btn-warning" href="{{ path('app_admin_categories') }}">Annuler</a>
                                <button type="submit" name="valider" class="btn btn-success">Enregistrer</button>
                            </div>
                        </div>
                        {{ form_end(categorieForm) }}
                    </div>
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
