{% extends "admin/displayPage.html.twig" %}

{% set role_ag = "NO_ROLE" %}
{% set role_add = "NO_ROLE" %}
{% set role_ag_enable = "NO_ROLE" %}
{% set role_ag_delete = "NO_ROLE" %}
{% set role_edit = "NO_ROLE" %}
{% set role_enable = "NO_ROLE" %}
{% set role_delete = "NO_ROLE" %}
{% set role_undo = "ROLE_UNDO_HISTORYBLOG" %}
{% set role_view = "ROLE_VIEW_HISTORYBLOG" %}


{% set title = "Historique du blog" %}


{% block newLinks %}{% endblock %}
{% block GroupAction %}{% endblock %}


{% block showTableHead %}
    <thead>

    <th>Titre</th>
    <th>Action</th>
    <th>Date</th>
    <th>{{ "backend.menu.user"|trans }}</th>

    {% if is_granted(role_undo) %}
        <th>Undo</th>
    {% endif %}
    {% if is_granted(role_view) %}
        <th>Ancienne version</th>
    {% endif %}
    </thead>
{% endblock %}
{% block showTableBody%}
    <tbody>
    {% for historique in historiques  %}
        <tr>
            <td>{{ historique.blogPost.titre }}</td>
            <td>{{ historique.action }}</td>
            <td>{{ historique.actionDate|date("d/m/Y h:i:s") }}</td>
            <td>{{ historique.user.nomComplet }} ({{ historique.user.id }})</td>
            <td>
                {% if historique.action != "Creation"and is_granted(role_undo)  %}
                    <a href="{{ path('app_admin_historique_undo', {'id': historique.id}) }}" class="btn btn-primary">Annuler</a>
                {% else %}
                    No action
                {% endif %}
            </td>
            <td>
                {% if historique.oldPost and is_granted(role_view) %}
                    <a class="btn btn-warning" href="{{ path('app_admin_oldpost_blogPosts', {'id': historique.oldPost.id}) }}">
                        <i class="fa fa-eye"></i>
                    </a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
{% endblock %}




