{% extends 'admin/formPage.html.twig' %}
{% set title = "Ancienne version poste" %}

{% block Item %} <a href="{{ path('app_admin_blogPosts') }}">Listing</a> <i class="fa fa-long-arrow-right"></i> <a href="{{ path('app_admin_edit_blogPosts', {'id': oldPostForm.vars.value.historique.blogPost.id}) }}">Modifié blog</a>  <i class="fa fa-long-arrow-right"></i>
    <a href="{{ path('app_admin_historique_blogPost', {'id': oldPostForm.vars.value.historique.blogPost.id }) }}">Historique</a>  <i class="fa fa-long-arrow-right"></i> {{ title }}{% endblock %}

{% block formContent %}
    <div class="x_content">
        {{ form_start(oldPostForm) }}
        {{ form_widget(oldPostForm) }}
        {{ form_end(oldPostForm) }}

    </div>
{% endblock %}


{% block summernote %}
    $('.summernote').summernote('disable');
{% endblock %}
