{% extends 'admin/formPage.html.twig' %}
{% if Form.vars.value %} {% set title = "Modifier FAQ" %} {% else %} {% set title = "Nouvel  FAQ" %} {% endif%}

{% block Item %} <a href="{{ path('app_admin_faqs') }}">Liste des FAQ</a> >> {{ title }}{% endblock %}

{% block formContent %}
    <div class="x_content">
        {{ form_start(Form) }}
        {{ form_widget(Form) }}
        <div class="ln_solid"></div>
        <div class="item form-group">
            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                <a class="btn btn-warning" href="{{ path('app_admin_faqs') }}">Annuler</a>
                <button type="submit" name="valider" class="btn btn-success">Enregistrer</button>
            </div>
        </div>
        {{ form_end(Form) }}
    </div>
{% endblock %}
