<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}{{ "backend.global.welcome"|trans }}{% endblock %}</title>
        {% block metas %}
            <meta charset="UTF-8">
        {% endblock %}
        {% block stylesheets %}
        {% endblock %}
    </head>
    <body {% block bodyclass %}class="" {% endblock %}>

        {% block impersionate %}
            {% if is_granted('IS_IMPERSONATOR') %}
            <div class="alert alert-warning" style="margin-bottom: 0;">
                {{ "backend.global.you_are_logged"|trans }} : {{ app.user.username }}
                <a href="{{ path('app_admin_index',{'_switch_user':'_exit'}) }}">{{ "backend.global.leave_impersonate"|trans }}</a>
            </div>
            {% endif %}
        {% endblock %}
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
