{% extends "admin/bars.html.twig" %}

{% block contenpage %}
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h5>
                    {{ "backend.role.listing"|trans }}
                </h5>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>
                            {{ "backend.role.role_listing"|trans }}</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a href="{{ path('app_admin_new_role') }}" class="btn btn-success">NEW</a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="row">
                            <form action="{{ path('app_admin_groupaction_role') }}" id="grpaction" method="post"
                                  name="grpaction">
                                <div class="form-group form-inline">
                                    <select class="form-control" name="action" required id="action_select">
                                        <option value="{{ "backend.role.delete"|trans }}">
                                            {{ "backend.role.delete"|trans }}</option>
                                    </select>
                                    <button class="btn btn-primary" type="submit">Go!!</button>
                                </div>

                            </form>
                            <table id="roles-table" class="display table table-striped table-bordered dataminetables">
                                <thead>
                                <tr>
                                    <th><input type="checkbox" id="select_all" name="select_all"></th>
                                    <th>{{ "backend.role.id"|trans }}</th>
                                    <th>{{ "backend.role.name"|trans }}</th>
                                    <th>{{ "backend.role.permissions"|trans }}</th>
                                    <th>{{ "backend.role.actions"|trans }}</th>
                                </tr>
                                <tr class="ignore">
                                    <th class="filter-head checkAll"></th>
                                    <th class="filter-head">{{ "backend.role.id"|trans }}</th>
                                    <th class="filter-head">{{ "backend.role.name"|trans }}</th>
                                    <th class="filter-head">{{ "backend.role.permissions"|trans }}</th>
                                    <th class="filter-head no-search"></th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
