{% extends "admin/displayPage.html.twig" %}

{% set role_ag = "ROLE_AG_PROFILE" %}
{% set role_add = "ROLE_ADD_PROFILE" %}
{% set role_ag_enable = "ROLE_AG_ENABLE_PROFILE" %}
{% set role_ag_delete = "ROLE_AG_DELETE_PROFILE" %}
{% set role_edit = "ROLE_EDIT_PROFILE" %}
{% set role_enable = "ROLE_ENABLE_PROFILE" %}
{% set role_delete = "ROLE_DELETE_PROFILE" %}
{% set title = "Liste des profils" %}


{% block showNew %}{{ path('app_admin_new_profile') }}{% endblock %}


{% block showGroup %}{{ path('app_admin_groupaction_profile') }}{% endblock %}
{% block showTableHead %}
    <thead>
    {% if is_granted(role_ag) %}
    <th><input type="checkbox" id="select_all" name="select_all"></th>
    {% endif %}
    <th>Nom</th>
    {% if is_granted(role_edit) %}
        <th>Modifier</th>
    {% endif %}
    {% if is_granted(role_enable) %}
        <th>Etat ?</th>
    {% endif %}
    {% if is_granted(role_delete) %}
        <th>Suprimer</th>
    {% endif %}
    </thead>
{% endblock %}
{% block showTableBody%}
    <tbody>
    {% for profile in profiles  %}
        <tr>
            {% if is_granted(role_ag) %}
            <td><input type="checkbox" class="chkgrp" name="chkgrp[]" value="{{ profile.id }}"></td>
            {% endif %}
            <td>{{ profile.nom }}</td>
            {% if is_granted(role_edit) %}
            <td><a class="btn btn-primary" href="{{ path('app_admin_edit_profile',{"id":profile.id}) }}"><i class="fa fa-edit"></i></a></td>
            {% endif %}
            {% if is_granted(role_enable) %}
            <td>
                {%  if profile.valid %}
                    <a class="btn btn-success activate-link" href="{{ path('app_admin_changevalidite_profile', {'id': profile.id}) }}"> <i class="fa fa-check"></i></a>
                {% else %}
                    <a class="btn btn-warning activate-link" href="{{ path('app_admin_changevalidite_profile', {'id': profile.id}) }}"> <i class="fa fa-times"></i></a>
                {% endif %}
            </td>
            {% endif %}
            {% if is_granted(role_delete) %}
            <td><a href="{{ path('app_admin_delete_profile', {'id': profile.id}) }}" class="btn btn-danger disable-btn del-link" type="submit" ><i class="fa fa-trash"></i></a></td>
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>
{% endblock %}